footer {
  background-color: $dark-gray;
  margin-top: 50px;
}

footer .container {
    @extend %flex-justified;
}

footer .container h3 {
  font-size: $base-size;
}

footer .container h3,
footer .container a {
  color: $white;
  justify-content: space-between;
  align-self: center;
}

.footer-menu {

  display: none;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & li {
      padding: 15px;

      & a {
        display: block;
        transition: 0.3s ease-in-out;
      }
    }
  }
}


.button {
  display: flex;

  @include tablet {
    display: none;
  }
}

.button a {
  align-self: center;
  border: 1.5px solid $white;
  border-radius: 2px;
  padding: 5px;
  transition: .3s ease-in;

  &:hover {
    background-color: $white;
    color: $dark-gray;
  }
}
