// ==========================================================================
// Nav bar and logo
// ==========================================================================

header {
  background-color: $color-body;
  padding-bottom: 25px;

  @include desktop {
    padding-bottom: 0;
  }
}

.logo {
  margin-bottom: 25px;
}

.main-nav {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav ul {
  @include tablet {
    display: flex;
  }
}

.main-nav ul li {
  padding: 15px 15px;
}

.main-nav ul li a {
  display: block;
}

.main-nav h1 a {
  color: $primary-color;
}
