h1 {
  @include text($h1, $varela-round, normal, $primary-color);
  font-family: $varela-round;
}

.logo {
  @include text($logo);
}

h2 {
  @include text($h2, $varela-round, normal, $dark-gray);

  #about & {
    color: $color-body;
  }

}

h3 {
  @include text($h3, $varela-round, normal, $dark-gray);
}

p,{
  @include text($base-size, $varela-round, $color: $text-color-base);
  line-height: 1.4;

  #about & {
    color: $color-body;
  }

}

a {
  @include text($base-size, $varela-round, $color: $primary-color);

  .main-nav & {
    color: $text-color-base;
    transition: 0.3s ease-in;
    border-bottom: none;

    &:hover {
      color: $primary-color;
    }

  }

}
